plugins {
    kotlin("jvm")
}

apply(from = "../repositories.gradle.kts")

dependencies {
    implementation("io.github.szijpeter:webauthn-json-kotlinx:<version>")
}

kotlin {
    jvmToolchain(21)
    compilerOptions {
        allWarningsAsErrors.set(true)
    }
}
