version: 2
updates:
  - package-ecosystem: gradle
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "06:00"
      timezone: Etc/UTC
    ignore:
      - dependency-name: "org.jetbrains.kotlinx:kotlinx-datetime"
        versions:
          - "0.7.1-0.6.x-compat"
    open-pull-requests-limit: 5
    labels:
      - dependencies
      - security

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "06:30"
      timezone: Etc/UTC
    open-pull-requests-limit: 5
    labels:
      - dependencies
      - ci
      - security
